<!DOCTYPE html>
<html lang="de" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="assets/vendor/opendash/favicon.ico" type="image/x-icon" />

    <title>open.DASH</title>
  </head>
  <body>
    <!-- Quick Start Component -->
    <opendash></opendash>

    <script src="https://code.highcharts.com/5.0.10/highcharts.js"></script>

    <!-- Build files will be injected here -->
  </body>
</html>